*, *::before, *::after {
  box-sizing: border-box;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
}

*[class] {
  margin: 0;
  padding: 0;
  list-style: none;
}

html {
  overflow-y: scroll;
  overflow-y: overlay;
  background: #f2f2f2;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 1.125rem;
  line-height: 1.5;
  --purple: #646ee0;
  --yellow: #ffce2e;
  --lilac: #b7b7fd;
  --red: #fe796a;
}

:is(li, a):not(:only-child):nth-child(4n+1) {
  --accent-color: var(--yellow);
}

:is(li, a):not(:only-child):nth-child(4n+2) {
  --accent-color: var(--purple);
}

:is(li, a):not(:only-child):nth-child(4n+3) {
  --accent-color: var(--red);
}

:is(li, a):not(:only-child):nth-child(4n+4) {
  --accent-color: var(--lilac);
}

:is(li, a):not(:only-child):nth-child(3n+1) {
  --clip-mask: url(#parenthesis-down-small);
}

:is(li, a):not(:only-child):nth-child(3n+2) {
  --clip-mask: url(#greater-than-down-small);
}

:is(li, a):not(:only-child):nth-child(3n+3) {
  --clip-mask: url(#curly-brace-down-small);
}

:is(h1, h2, h3, h4, h5, h6, p) {
  margin: 0;
  hyphens: auto;
}

:is(h1, h2, h3, h4, h5, h6, p) + :is(h1, h2, h3, h4, h5, h6, p) {
  margin-top: 0.75em;
}

p + :is(h1, h2, h3, h4, h5, h6) {
  margin-top: 1.5em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Fabrik", Arial, Helvetica, sans-serif;
}

p + .hero {
  margin-block: 1.5em;
}

li {
  text-decoration-color: var(--accent-color);
}

li::marker {
  color: var(--accent-color);
}

a {
  text-decoration: none;
  cursor: pointer;
}

a:focus,
a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  object-fit: cover;
}

small {
  font-size: 0.75em;
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.limited-width {
  width: 60rem;
  max-width: 100vw;
  margin: 0 auto;
  margin-inline: min(0, (min(100vw, 60rem) - 100%) / -2);
}

.narrow-width {
  width: 30rem;
  max-width: calc(100vw - 1.5rem);
  margin: 0 auto;
  text-decoration-color: var(--purple);
}

.narrow-width:first-child p:nth-of-type(1) {
  overflow: hidden;
}

.narrow-width:first-child p:nth-of-type(1):first-letter {
  -webkit-initial-letter: 3;
  initial-letter: 3;
  margin-right: 0.5em;
  font-family: "Fabrik", Arial, Helvetica, sans-serif;
}

@supports not (initial-letter: 3) {
  .narrow-width:first-child p:nth-of-type(1):first-letter {
    margin-inline-end: 0.1em;
    font-size: 300%;
    font-size: 3lh;
    line-height: 1;
  }
}

.narrow-width a {
  text-decoration: underline;
  text-decoration-color: inherit;
}

.full-width {
  width: 100vw;
  margin-inline: calc((100vw - 100%) / -2);
}

.full-width a {
  text-decoration: none;
}

.headline {
  font-family: "Fabrik", Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  line-height: 1.25;
}

.header {
  padding-bottom: 0.75rem;
  background: #000;
  color: #fff;
}

.header__title {
  margin-bottom: 0.25rem;
  text-align: center;
}

.header__logo {
  width: 100%;
  height: auto;
}

.header__nav {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem 2rem;
  justify-content: center;
  width: 100%;
}

.header__nav a {
  color: var(--accent-color);
}

.announcer {
  position: relative;
  z-index: 1;
  overflow: hidden;
  background-image: url(/img/announcer.svg);
  background-repeat: repeat-x;
  background-size: auto 100%;
  background-position: top center;
}

.announcer__content {
  width: 45rem;
  max-width: calc(100vw - 1.5rem);
  margin: -2px auto 5rem auto;
  padding: 1.25rem 2.5vw 2.5rem 2.5vw;
  background: var(--yellow);
  text-align: center;
  clip-path: url(#curly-brace-down-small);
}

.hero {
  display: block;
  clip-path: url(#parenthesis-down-small);
}

.hero__image {
  display: block;
  width: 100%;
  height: 40vh;
  object-position: center 70%;
  object-fit: cover;
}

.card {
  position: relative;
  display: inline-block;
  width: 100%;
  text-align: center;
}

.card__image {
  position: relative;
  z-index: 1;
  width: 9.375rem;
  max-width: 80%;
  height: auto;
  aspect-ratio: 1/1;
  border-radius: 50%;
}

.card__caption {
  margin-top: -4.6875rem;
  padding: 0 1.25rem 3rem 1.25rem;
  background: #fff;
  font-size: clamp(1em, 3vw, 1rem);
  text-align: center;
  clip-path: url(#parenthesis-down-small);
}

.card__headline {
  width: calc(100% + 2.5rem);
  margin: 0 -1.25rem 0.5em -1.25rem;
  padding: 4.6875rem 1.25rem 1.5rem 1.25rem;
  background: var(--accent-color, var(--yellow));
  font-size: clamp(1rem, 4.5vw, 1.5rem);
  clip-path: var(--clip-mask);
}

.card__link::before {
  content: '';
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.cta {
  padding: 1.25rem 1vw 3.5rem 1vw;
  background: var(--lilac);
  text-align: center;
  clip-path: url(#greater-than-down-small);
}

.cta__button {
  margin-top: 2.5rem;
}

.speakers {
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem;
  align-items: start;
  justify-content: center;
  padding-inline: 1.25rem;
}

.speakers:not(:first-child) {
  margin-top: 2vw;
}

.speakers__item {
  flex: 1 1 auto;
  min-width: 0;
  width: min(15rem, 33vw);
}

.button {
  display: inline-block;
  min-width: 150px;
  padding: 0.25rem 1.25rem;
  background-color: #000;
  color: #fff;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  clip-path: url(#button-parentheses);
}

.button:focus,
.button:hover {
  text-decoration: underline;
}

.footer {
  padding-bottom: 1.25rem;
  background: var(--lilac);
}

.footer__social {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2.5rem;
  width: 100%;
}

.footer__social-item {
  flex: 1 1 50%;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem 1.25rem;
  align-items: start;
  min-width: 0;
  max-width: 20rem;
}

.footer__social-item::before {
  content: '';
  order: -1;
  display: block;
  width: 100%;
}

.footer__social-logo,
.footer__social-headline {
  order: -2;
}

.footer__social-logo {
  width: 4rem;
  padding: 2rem 0;
  background: var(--accent-color);
  clip-path: var(--clip-mask);
}

.footer__social-headline {
  align-self: center;
  margin: auto auto auto 0;
}

.footer, .narrow-width:first-child, :is(section, .announcer, .hero, .cta, .speakers) + :is(section, .announcer, .hero, .cta, .speakers):not(.artificial-specificity-increase) {
  margin-top: 5vw;
}

main > :first-child:not(.announcer) {
  margin-top: 3vw;
}

.announcer + .hero:not(.artificial-specificity-increase) {
  margin-top: -5vh;
}

.announcer + .hero:not(.artificial-specificity-increase) .hero__image {
  height: 40vh;
  object-position: 50% 33%;
}
