@font-face {
    font-family: 'Clarke';
    src: url('/fonts/clarke-regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Clarke';
    src: url('/fonts/clarke-medium.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Clarke';
    src: url('/fonts/clarke-light.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}
