<section style="margin-top: 1.5rem">
  <h3>Photos by Christian Al-Mosawi</h3>

  <dl style="font-size: smaller">
    <div>
      <dt style="font-weight: 500; font-style: italic">Mastodon</dt>
      <dd>
        <a
          href="https://mastodon.social/@chrisalmo"
          rel="author noopener noreferrer"
          target="_blank"
          >@chrisalmo@mastodon.social</a
        >
      </dd>
      <dd>
        <a
          href="https://mastodon.social/@presprog"
          rel="noopener noreferrer"
          target="_blank"
          >@presprog@mastodon.social</a
        >
      </dd>
    </div>

    <div style="margin-top: 0.5rem">
      <dt style="font-weight: 500; font-style: italic">Bluesky</dt>
      <dd>
        <a
          href="https://chris-almo.bsky.social"
          rel="author noopener noreferrer"
          target="_blank"
          >@chris-almo.bsky.social</a
        >
      </dd>
    </div>

    <div style="margin-top: 0.5rem">
      <dt style="font-weight: 500; font-style: italic">Instagram</dt>
      <dd>
        <a
          href="https://instagram.com/@chris_m_j"
          rel="author noopener noreferrer"
          target="_blank"
          >@chris_m_j</a
        >
      </dd>
      <dd>
        <a
          href="https://instagram.com/@presprog"
          rel="noopener noreferrer"
          target="_blank"
          >@presprog</a
        >
      </dd>
    </div>

    <div style="margin-top: 0.5rem">
      <dt style="font-weight: 500; font-style: italic">LinkedIn</dt>
      <dd>
        <a
          href="https://www.linkedin.com/in/christian-al-mosawi/"
          rel="author noopener noreferrer"
          target="_blank"
          >https://www.linkedin.com/in/christian-al-mosawi/</a
        >
      </dd>
      <dd>
        <a
          href="https://www.linkedin.com/company/presprog"
          rel="noopener noreferrer"
          target="_blank"
          >https://www.linkedin.com/company/presprog/</a
        >
      </dd>
    </div>
  </dl>
</section>
