# Contact Wim to get a set of credentials.
# Wim: please generate new s3 creds per person where possible
S3_ACCESS_KEY=
S3_SECRET_KEY=
S3_BUCKET=conferences
S3_REGION=EU
S3_URL=https://a2a1cf62beee4205904cecf4762ee2bc.objectstore.eu