---
permalink: "{{ page.fileSlug }}/index.html"
---
{% extends "_includes/default.njk" %}

{% block content %}
  <section class="block right">
    <div class="rainbow">
      <div>
        <p>
          Fronteers Conference is organised by volunteers of Fronteers, the Dutch professional association for front-end developers.
          Besides organising Fronteers Conference, the professional association also runs regular meet-ups and workshops and an 
          online job board. Fronteers has roughly 220 members, mainly from The Netherlands. See also: <a href='https://fronteers.nl/about'>About Fronteers</a>.
        </p>
        <h3>
          Conference committee
        </h3>
        <ul>
          <li>
            Christian Schaefer
          </li>
          <li>
            Jewwy Qadri
          </li>
          <li>
            Michael Hastrich
          </li>
          <li>
            Niels Leenheer
          </li>
        </ul>
      </div>
    </div>
  </section>
{% endblock %}
