---
permalink: "{{ page.fileSlug }}/index.html"
---
{% extends "_includes/default.njk" %}

{% block content %}
  
  <section class="intro">
    <h1 class="screenreader-only">
      Accessibility
    </h1>
    <p>Fronteers wants to be an inclusive community and for that reason we have several</p>
  </section>

  <section class="block right">
    <div class="rainbow">
      <div>
        <h2>Diversity tickets</h2>
        <p>We have a limited number of diversity tickets available which enables you to buy a ticket for €50.</p>
        <p>These tickets are available for anyone in an under-represented group in tech. This includes (but is not limited to): people of colour, LGBTQIA+ people, women and disabled people.</p>
      </div>
    </div>
  </section>

  <section class="block left">
    <div class="rainbow">
      <div>
        <h2>Accessibility</h2>
        <p>Pathé Leidsche Rijn is a modern cinema complex, so all areas are wheelchair accessible which includes the rooftop. If you require reserved seating or anything else, please <a href="/contact.html">get in touch</a> with us.</p>
      </div>
    </div>
  </section>

  <section class="block right">
    <div class="rainbow">
      <div>
        <h2>Live captioning</h2>
        <p>About transcripts</p>
      </div>
    </div>
  </section>
{% endblock %}
