---
permalink: "{{ page.fileSlug }}/index.html"
---
{% extends "_includes/default.njk" %}

{% block content %}
  <section class="block right">
    <div class="rainbow">
      <div>
        <h3>Please, behave like a decent human being</h3>
        <p>
          Fronteers Conference does not tolerate harassment of any sort at any of our locations. Harassment includes offensive comments related to gender, age, sexual orientation, disability, physical appearance, body size, race, religion, deliberate intimidation, stalking, (physical) following, harassing photography or recording, sustained disruption of talks or other events, inappropriate physical contact, and unwelcome (sexual) attention.
        </p>
        <p>
          Please contact the Fronteers Conference staff if you feel you are being harassed, if you see someone being harassed, or if you have any related concerns:
        </p>
        <ul>
          <li>
            Find a crew member IRL (identified by a branded t-shirt and crew badge)
          </li>
          <li>
            Reach out to us on Twitter via <a href="https://twitter.com/fronteersconf">@fronteersconf</a>
          </li>
          <li>
            Email us at <a href="mailto:conference@fronteers.nl">conference@fronteers.nl</a>
          </li>
          <li>
            Call us at 06-20386252
          </li>
        </ul>
        <p>
          The Fronteers Conference community has proven year after year to be a very welcoming and open group. By joining that group, you will be held to that same high standard.
        </p>
        <p>
          The Fronteers Conference organisers reserve the right to enforce adherence to the Code of Conduct, by measures up to and including expulsion from our events.
        </p>
      </div>
    </div>
  </section>
{% endblock %}
