<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{ title }} | Fronteers Conference 2022</title>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover">
  <link rel="preload" as="font" crossorigin="anonymous" href="{{ '/fonts/clarke-regular.woff2' | url }}">
  <link rel="preload" as="font" crossorigin="anonymous" href="{{ '/fonts/clarke-medium.woff2' | url }}">
  <link rel="preload" as="font" crossorigin="anonymous" href="{{ '/fonts/clarke-light.woff2' | url }}">
  <link rel="preload" as="style" href="{{ '/css/style.css' | url }}?v={% version %}">
  <style>
    @font-face {
      font-family: 'Clarke';
      src: url('{{ '/fonts/clarke-regular.woff2' | url }}') format('woff2');
      font-weight: normal;
      font-style: normal;
      font-display: swap;
    }

    @font-face {
      font-family: 'Clarke';
      src: url('{{ '/fonts/clarke-medium.woff2' | url }}') format('woff2');
      font-weight: bold;
      font-style: normal;
      font-display: swap;
    }

    @font-face {
      font-family: 'Clarke';
      src: url('{{ '/fonts/clarke-light.woff2' | url }}') format('woff2');
      font-weight: 200;
      font-style: normal;
      font-display: swap;
    }
  </style>
  <link rel="stylesheet" href="{{ '/css/style.css' | url }}?v={% version %}">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@FronteersConf">
  <meta name="twitter:creator" content="@FronteersConf">
  {% if title %}
    <meta name="og:title" content="{{ title }}">
    <meta name="twitter:title" content="{{ title }}">
  {% endif %}
  {% if description %}
    <meta name="description" content="{{ description }}">
    <meta name="og:description" content="{{ description }}">
    <meta name="twitter:description" content="{{ description }}">
  {% endif %}
  <meta name="og:image" content="{{ '/img/social-media.png' | url }}?v={% version %}">
  <meta name="twitter:image" content="{{ '/img/social-media.png' | url }}?v={% version %}">
  <link rel="icon" href="{{ '/favicon.ico' | url }}">
  <script src="/js/breakout.js"></script>
  {% block head %}{% endblock %}
</head>
<body>

<main>
  <header>
    <h1>
      <img src="{{ '/img/hero.svg' | url }}" alt="Fronteers Conference, 9 September 2022, Utrecht">
    </h1>
  </header>

  {% block content %}
    {{ content | safe }}
  {% endblock %}

</main>
</body>
</html>
