---
permalink: "{{ page.fileSlug }}/index.html"
---

{% extends "_includes/default.njk" %}
{% block content %}
  <section class="intro">
    <h2 class="screenreader-only">
      Diversity
    </h2>
    <p>Fronteers wants to be an inclusive community and to that end have made some arrangements that we would like to bring
      to your attention.</p>
  </section>
  <section class="block right">
    <div class="rainbow">
      <div>
        <h3>Diversity tickets</h3>
        <p>We have a limited number of diversity tickets available which enables you to buy a ticket at a large discount.
          Diversity tickets are available for € 50. However, if you feel this discount still prevents you from attending
          Fronteers, please let us know and we'll try to accomodate you in another way.</p>
        <p>These tickets are available for anyone in an under-represented group in tech. This includes (but is not limited to):
          people of colour, LGBTQIA+ people, women and disabled people.</p>
        <p>If you want to
          <a href="/contact.html">apply for a diversity ticket</a>, please get in touch with us and we'll provide you with a special discount code.</p>
      </div>
    </div>
  </section>
  <section class="block left">
    <div class="rainbow">
      <div>
        <h3>Accessibility</h3>
        <p>Pathé Leidsche Rijn is a modern cinema complex, so all areas are wheelchair accessible which includes the rooftop.
          We're located on the two top most floors in the cinema, which are accessible by elevator. If you
          <a href="/contact.html">require reserved seating</a>
          or anything else, please get in touch with us.</p>
      </div>
    </div>
  </section>
  <section class="block right">
    <div class="rainbow">
      <div>
        <h3>Live captioning</h3>
        <p>All talks will be live transcribed and transcriptions are shown on the main screen along with the slides.
          Additionally we will publish a website where you can follow the transcriptions on a device of your own.</p>
      </div>
    </div>
  </section>
{% endblock %}