{% extends "_includes/default.njk" %}
{% block content %}
  {% include '_partials/announcer.njk' %}
  <section class="narrow-width">
    {{ content | safe }}
  </section>
  <section class="narrow-width">
    <h2 class="headline">About Fronteers Conference</h2>
    <p>
      Fronteers Conference was one of Europe’s premiere conferences on front-end web development, organised in Amsterdam and
      Utrecht yearly since 2008. This year our single-track community-driven conference was supposed to return to the halls of
      Pathé Leidsche Rijn in Utrecht on the 21st & 22nd of September 2023.
    </p>
  </section>
  {% include '_partials/json-ld.njk' %}
{% endblock %}
