{% extends "_includes/default.njk" %}
{% block content %}
    <section class="narrow-width">
      <h2 class="headline">
          Schedule
      </h2>
      <p>
        We've prepared two days filled with fourteen amazing talks for you. And we made sure there is plenty of time
        to hang out with each other again.
      </p>
    </section>
    <section class="narrow-width">
      <p>The schedule will be revealed at a later date</p>
    </section>
{% endblock %}
