{% extends "_includes/default.njk" %}

{% block content %}
  <section class="intro">
    <h2 class="screenreader-only">
      Schedule
    </h2>

    <p>
      We've prepared one day filled with six amazing talks for you. And we made sure there
      is plenty of time to get to know each other again after the last two years. 
    </p>
  </section>

  <section class="block bottom">
    <div class="rainbow">
      <table class='schedule'>
        <tr>
            <td>
                08:30 – 09:15
            </td>
            <td>
                <p>Doors open and registration</p>
            </td>
        </tr>
        <tr>
            <td>
                09:15 – 09:30
            </td>
            <td>
                <p>Opening words by our host <a href='speakers.html#floor-drees'>Floor Drees</a></p>
            </td>
        </tr>
        <tr>
            <td>
                09:30 – 10:15
            </td>
            <td>
                <h3><a href='speakers.html#marie-van-driessche'>Marie van Driessche</a></h3>
                <p>Beyond the persona</p>
            </td>
        </tr>
        <tr>
            <td>
                10:15 – 10:40
            </td>
            <td>
                <p>Break</p>
            </td>
        </tr>
        <tr>
            <td>
                10:40 – 11:25
            </td>
            <td>
                <h3><a href='speakers.html#ulrike-rausch'>Ulrike Rausch</a></h3>
                <p>Unlock the Fun!</p>
            </td>
        </tr>
        <tr>
            <td>
                11:25 – 11:45
            </td>
            <td>
                <p>Break</p>
            </td>
        </tr>
        <tr>
            <td>
                11:45 – 12:30
            </td>
            <td>
                <h3><a href='speakers.html#robin-marx'>Robin Marx</a></h3>
                <p>Web Protocols for Frontend Developers</p>
            </td>
        </tr>
        <tr>
            <td>
                12:30 – 14:00
            </td>
            <td>
                <p>Lunch</p>
            </td>
        </tr>
        <tr>
            <td>
                14:00 – 14:45
            </td>
            <td>
                <h3><a href='speakers.html#bramus-van-damme'>Bramus van Damme</a></h3>
                <p>CSS in 2022 (and beyond)</p>
            </td>
        </tr>
        <tr>
            <td>
                14:45 – 15:10
            </td>
            <td>
                <p>Break</p>
            </td>
        </tr>
        <tr>
            <td>
                15:10 – 15:55
            </td>
            <td>
                <h3><a href='speakers.html#maud-nalpas'>Maud Nalpas</a></h3>
                <p>Debugging web privacy</p>
            </td>
        </tr>
        <tr>
            <td>
                15:55 – 16:15
            </td>
            <td>
                <p>Break</p>
            </td>
        </tr>
        <tr>
            <td>
                16:15 – 17:00
            </td>
            <td>
                <h3><a href='speakers.html#manuel-matuzovic'>Manuel Matuzović</a></h3>
                <p>Lost in Translation</p>
            </td>
        </tr>
        <tr>
            <td>
                17:00 – 20:00
            </td>
            <td>
                <p>Drinks and snacks on the rooftop</p>
            </td>
        </tr>
      </table>
    </div>
  </section>
{% endblock %}
