{% extends "_includes/default.njk" %}

{% block content %}
  <section class="intro">
    <h2 class="screenreader-only">
      Schedule
    </h2>

    <p>
      We've prepared one day filled with six amazing talks for you. And we made sure there
      is plenty of time to get to know each other again after the last two years. 
    </p>
  </section>

  <section class="block bottom">
    <div class="rainbow">
      <table class='schedule'>
        <tr>
            <td>
                08:30 – 09:15
            </td>
            <td>
                <p>Doors open and registration</p>
            </td>
        </tr>
        <tr>
            <td>
                09:15 – 09:30
            </td>
            <td>
                <p>Opening words by our host <a href='speakers.html#floor-drees'>Floor Drees</a></p>
            </td>
        </tr>
        <tr>
            <td>
                09:30 – 10:15
            </td>
            <td>
                <h3><a href='speakers.html#marie-van-driessche'>Marie van Driessche</a></h3>
                <p><a class="decorated-link" href="https://vimeo.com/768715583" aria-label="Watch Marie's talk on Vimeo">Beyond the persona</a></p>
            </td>
        </tr>
        <tr>
            <td>
                10:15 – 10:40
            </td>
            <td>
                <p>Break</p>
            </td>
        </tr>
        <tr>
            <td>
                10:40 – 11:25
            </td>
            <td>
                <h3><a href='speakers.html#ulrike-rausch'>Ulrike Rausch</a></h3>
                <p><a class="decorated-link" href="https://vimeo.com/768721455" aria-label="Watch Ulrike's talk on Vimeo">Unlock the Fun!</a></p>
            </td>
        </tr>
        <tr>
            <td>
                11:25 – 11:45
            </td>
            <td>
                <p>Break</p>
            </td>
        </tr>
        <tr>
            <td>
                11:45 – 12:40
            </td>
            <td>
                <h3><a href='speakers.html#robin-marx'>Robin Marx</a></h3>
                <p><a class="decorated-link" href="https://vimeo.com/768728308" aria-label="Watch Robin's talk on Vimeo">Web Protocols for Frontend Developers</a></p>
            </td>
        </tr>
        <tr>
            <td>
                12:40 – 14:00
            </td>
            <td>
                <p>Lunch</p>
            </td>
        </tr>
        <tr>
            <td>
                14:00 – 14:45
            </td>
            <td>
                <h3><a href='speakers.html#bramus-van-damme'>Bramus van Damme</a></h3>
                <p><a class="decorated-link" href="https://vimeo.com/768733716" aria-label="Watch Bramus' talk on Vimeo">CSS in 2022 (and beyond)</a></p>
            </td>
        </tr>
        <tr>
            <td>
                14:45 – 15:05
            </td>
            <td>
                <p>Break</p>
            </td>
        </tr>
        <tr>
            <td>
                15:05 – 15:50
            </td>
            <td>
                <h3><a href='speakers.html#maud-nalpas'>Maud Nalpas</a></h3>
                <p><a class="decorated-link" href="https://vimeo.com/768753225" aria-label="Watch Maud's talk on Vimeo">Debugging web privacy</a></p>
            </td>
        </tr>
        <tr>
            <td>
                15:50 – 16:10
            </td>
            <td>
                <p>Break</p>
            </td>
        </tr>
        <tr>
            <td>
                16:10 – 16:55
            </td>
            <td>
                <h3><a href='speakers.html#manuel-matuzovic'>Manuel Matuzović</a></h3>
                <p><a class="decorated-link" href="https://vimeo.com/768755205" aria-label="Watch Manuel's talk on Vimeo">Lost in Translation</a></p>
            </td>
        </tr>
        <tr>
            <td>
                17:00 – 20:00
            </td>
            <td>
                <p>Drinks and snacks on the rooftop</p>
            </td>
        </tr>
      </table>
    </div>
  </section>
{% endblock %}
