{% extends "_includes/default.njk" %}
{% block content %}
  {% set src = image %}
  {% set focusPoint = 'center center' %}
  {% include '_partials/hero.njk' %}

  <section class="narrow-width">
    <h3 class="headline">{{ title }}: {{ talktitle }}</h3>
    {{ content | safe }}
  </section>
{% endblock %}
