---
permalink: "{{ page.fileSlug }}/index.html"
---
{% extends "_includes/default.njk" %}

{% block content %}
  <section class="intro">
    <h2 class="screenreader-only">
      Speakers
    </h2>

    <p>
      We have a spectacular line-up of fourteen speakers for you. These are the people who'll be stimulating your mind with thought-provoking talks.
    </p>
  </section>

  <section class="block right speaker">
    <div class="rainbow">
      <a name="speaker-slug"></a>

      <div>
        <h3>Talk title</h3>
        <p>
          Things have been going hard for CSS the past few years, and there's a bunch of new and exciting stuff on its way.
        </p>
        <p>
          With this talk you'll be up to speed on some very nice recent additions, and will get a glimpse of a lot of the features that will be landing across all browsers by the end of this year.
        </p>

        <h4>Speaker bio</h4>
        <img src="" alt="Speaker headshot">
      </div>
    </div>
  </section>
{% endblock %}
