---
permalink: "{{ page.fileSlug }}/index.html"
---

{% extends "_includes/default.njk" %}
{% block content %}
  {% set items = collections.speakers %}
  {% include '_partials/speakers.njk' %}
{% endblock %}
