{% extends "_includes/default.njk" %}
{% block content %}
  {% include '_partials/tickets.njk' %}

  <section class="narrow-width">
    Get your ticket today, there are only a limited number of seats. A regular ticket costs €500, excluding VAT and will
    give you access to both days of the conference and includes food and drinks. If you are a Fronteers member, you can get a discount of €80 and you
    will pay only €420, excluding VAT.

    {% include '_partials/tito-widget.njk' %}

    <h2 class="headline visually-hidden">{{ title }}</h2>
    {{ content | safe }}
  </section>
{% endblock %}
