{% extends "_includes/default.njk" %}
{% block content %}
  {% include '_partials/tickets.njk' %}

  <section class="narrow-width">
    <p>Get your ticket for Fronteers Conference on September 21st & 22nd in Utrecht today as there are only a limited number of seats.</p>

    <p>A regular ticket costs <strong>€500</strong>, excluding VAT and will give you <strong>access to both days of the conference</strong> and <strong>includes food and drinks</strong>. If you are a Fronteers member, you can get a discount of €80 and you
      will pay only €420, excluding VAT.</p>

    {% include '_partials/tito-widget.njk' %}

    <h2 class="headline visually-hidden">{{ title }}</h2>
    {{ content | safe }}
  </section>
{% endblock %}
