---
permalink: "{{ page.fileSlug }}/index.html"
---

{% extends "_includes/default.njk" %}
{% block content %}
  <section class="narrow-width">
    <h2 class="headline">
      Venue
    </h2>
    <p>
      This year we will see each other again in the Pathé Utrecht Leidsche Rijn theatre.
    </p>
  </section>
  <section class="narrow-width">
    <h3>Conference</h3>
    <p>
      Pathé Utrecht Leidsche Rijn<br>
      Berlijnplein 100<br>
      3541 CM Utrecht
    </p>
    <p>
      The theatre is close to the train station Utrecht Leidsche Rijn with direct connections to Utrecht Central Station, Den
      Haag and Rotterdam. If you are travelling from other locations, it is recommended to change trains in Utrecht Centraal
      which is just 1 stop away and only a 4 minute train ride.
    </p>
    <p>
      If you want to travel by car, there are parking spaces around the theatre and several large parking garages close by.
    </p>
  </section>
{% endblock %}
