---
permalink: "{{ page.fileSlug }}/index.html"
---
{% extends "_includes/default.njk" %}
{% block content %}
  <section class="narrow-width">
    <h2 class="headline">
      Venue
    </h2>
    <p>
      This year, Fronteers Dark Mode takes place in the beautiful Cinema De Witt in Dordrecht.
    </p>
  </section>
  <section class="narrow-width">
    <h3>Conference</h3>
    <p>
      Cinema De Witt<br>
      Nieuwstraat 60<br>
      3311 XR Dordrecht
    </p>
    <p>
      Cinema De Witt is located in the heart of Dordrecht’s historic city center and is just a short walk from Dordrecht Central Station, with direct train connections to Rotterdam, Breda, and beyond.
    </p>
    <p>
      Coming by car? There are several parking garages nearby, including Q-Park Drievriendenhof and Spuihaven Garage.
    </p>
    <p>
      The venue offers a cozy and atmospheric setting – perfect for a Friday evening of talks, drinks, and good company.
    </p>
  </section>
{% endblock %}
