<section class="announcer full-width">
  <div class="announcer__content">
    <h2 class="announcer__headline headline">
      Fronteers Conference has been canceled
    </h2>
    <p class="announcer__text">
      Due to poor ticket sales we are forced to cancel this year's conference
    </p>
  </div>
</section>
