<section class="announcer full-width">
  <div class="announcer__content">
    <h2 class="announcer__headline headline">
      Fronteers Conference is back!
    </h2>
    <p class="announcer__text">
      Join us September 21st & 22nd, 2023, <br>
      at the Pathé Leidsche Rijn in Utrecht <br>
      for 14 speakers on two days.
    </p>
  </div>
</section>
