<figure class="card">
  <img src="{{ src | url }}" width="150" height="150" alt="{{ alt }}" loading="lazy" class="card__image">
  <figcaption class="card__caption">
    <h3 class="card__headline headline"><a href="{{ href }}">{{ headline }}</a></h3>
    {{ text | safe }}
  </figcaption>
</figure>
