<figure class="card">
  {% image src, alt, '9.375rem', 'lazy' %}
  <figcaption class="card__caption">
    <a href="{{ href }}" class="card__link">
      <h3 class="card__headline headline">{{ headline }}</h3>
      {{ text | safe }}
    </a>
  </figcaption>
</figure>
