<section class="cta">
  <h3 class="cta__headline headline">
    Tickets available for just
     <strong>€{{ tickets.regularPrice }}</strong>
  </h3>
  <p class="discount">
    Fronteers members get a
    <strong>€{{ tickets.regularPrice - tickets.memberPrice }}</strong>
    discount!
  </p>
  <p>
    <a class="cta__button button" href="{{ tickets.shopUrl }}"
      >Get your tickets now!</a
    >
  </p>
  <p>
    <small class="cta__smallpint"> Ticket prices are including VAT. </small>
  </p>
</section>
