<section class="cta">
  <h3 class="cta__headline headline">Tickets available for just
    <strong>€&nbsp;{{ tickets.regularPrice }}</strong>
  </h3>
  <p class="discount">Fronteers members get a
    <strong>€&nbsp;{{ (tickets.regularPrice - tickets.memberPrice) }}</strong>
    discount!</p>
  <p>
    <a class="cta__button button" href="{{ tickets.shopUrl }}">Get
      your tickets now!</a>
  </p>

  <small class="cta__smallpint">
    Ticket prices include food &amp; drinks for the two days and are excluding VAT.
  </small>
</section>
