<section class="cta">
  <h3 class="cta__headline headline">Tickets available for just
    <strong>€&nbsp;500</strong>
  </h3>
  <p class="discount">Fronteers members get a
    <strong>€&nbsp;80</strong>
    discount!</p>
  <p>
    <a class="cta__button button" href="https://apps.ticketmatic.com/shop/fronteers/shop/addtickets/460185357012">Get
      your tickets now!</a>
  </p>

  <small class="cta__smallpint">
    Ticket prices are excluding VAT.
  </small>
</section>
