<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Event",
    "name": "Fronteers Dark Mode 2025",
    "startDate": "2025-10-03",
    "endDate": "2025-10-03",
    "eventAttendanceMode": "https://schema.org/OfflineEventAttendanceMode",
    "eventStatus": "https://schema.org/EventScheduled",
    "location": {
      "@type": "Place",
      "name": "Cinema De Witt",
      "address": {
        "@type": "PostalAddress",
        "streetAddress": "Nieuwstraat 60",
        "addressLocality": "Dordrecht",
        "postalCode": "3311 XR",
        "addressRegion": "Zuid-Holland",
        "addressCountry": "NL"
      }
    },
    "image": [
      "https://fronteersconf.org/img/social-media.jpg",
      "https://fronteersconf.org/img/cinema-room.jpg",
      "https://fronteersconf.org/img/dordrecht.jpeg",
      "https://fronteersconf.org/img/venue.jpg",
      "https://fronteersconf.org/img/fronteers-workshop.jpeg"
    ],
    "description": "Fronteers Dark Mode is an after work conference about front-end web development.",
    "offers": {
      "@type": "Offer",
      "url": "https://fronteersconf.org/tickets",
      "price": "99",
      "priceCurrency": "EUR",
      "availability": "https://schema.org/InStock"
    },
    "performer": [{% if collections.speakers|length %}{% for speaker in collections.speakers|sortByAlphabet %}{
        "@type": "Person",
        "name": "{{ speaker.data.title }}"
      }{% if not loop.last %},
      {% endif %}{% endfor %}{% endif %}],
    "organizer": {
      "@type": "Organization",
      "name": "Fronteers",
      "url": "https://fronteers.nl"
    }
  %}
</script>
