<ul class="speakers full-width">
  {% asyncEach item in items|sortByAlphabet %}
    <li class="speakers__item">
      {% set href = item.url %}
      {% set src = item.data.image %}
      {% set headline = item.data.title %}
      {% set alt = 'Picture of ' ~ item.data.title %}
      {% set text = item.data.talktitle %}
      {% include '_partials/card.njk' %}
    </li>
  {% endeach %}
</ul>
