<section class="tickets">
    <h3 class="tickets__headline headline">Tickets available for just
        <strong>€&nbsp;{{ tickets.regularPrice }}</strong>
    </h3>
    <p class="tickets__discount">Fronteers members get a
        <strong>€&nbsp;{{ (tickets.regularPrice - tickets.memberPrice) }}</strong>
        discount!
    </p>
    <small class="tickets__smallprint">
        Ticket prices include food + Dutch VAT.
    </small>
</section>
